/* less vars */
/* global */
body {
  font-family: 'Arbutus Slab', serif;
  text-rendering: geometricPrecision;
}
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5,
.subtitle,
p {
  opacity: .96;
}
.h1,
.h2,
.h3,
.h4,
.h5 {
  display: block;
}
.h4 {
  font-size: 22.4px;
}
.h3 {
  font-size: 26.6px;
}
.h1 {
  font-size: 35.7px;
  letter-spacing: 1.05px;
}
a,
a:visited,
a:active {
  color: #986630;
}
/* hero */
.hero {
  height: 638px;
  background-color: #ccc;
  position: relative;
  background-image: url('../img/1910-hero-compressor.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 969px) {
  .hero {
    background-image: url('../img/1910-hero-mobile-compressor.jpg');
  }
}
.hero .copybox {
  background-color: #181818;
  color: #ffffff;
  max-width: 50%;
  text-align: center;
  opacity: .965;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.23);
  bottom: 26.6px;
  position: absolute;
}
@media only screen and (max-width: 969px) {
  .hero .copybox {
    max-width: 88%;
    min-width: 450px;
  }
}
.hero .copy {
  margin: 12px 30px;
  display: inline-block;
  text-align: left;
  line-height: 38px;
}
/* structure */
.grid {
  padding: 30px 14px;
}
.grid:before,
.grid:after {
  content: " ";
  display: table;
  clear: both;
}
.content {
  width: 925px;
  margin: 0 auto;
}
@media only screen and (max-width: 969px) {
  .content {
    width: 525px;
  }
}
.section {
  width: 100%;
  max-width: 100%;
  padding: 93px 0 53px;
  background-color: #f9f9f9;
}
.section--dark {
  background-color: #f7f4f2;
}
.spacer--vertical {
  height: 36px;
}
@media only screen and (max-width: 969px) {
  .spacer--vertical {
    height: 0px;
  }
}
.cell {
  width: 48%;
  display: inline;
  float: left;
}
@media only screen and (max-width: 969px) {
  .cell {
    width: 100%;
  }
}
.cell--extraPadding {
  margin-left: 4%;
  padding-top: 37px;
}
@media only screen and (max-width: 969px) {
  .cell--extraPadding {
    margin-left: 0;
    padding-top: 17px;
  }
}
/* typography */
.withSubtitle {
  margin-bottom: 1px;
}
.subtitle {
  font-size: 16.8px;
}
.typeface--primary {
  font-family: 'Arbutus Slab', serif;
}
.typeface--secondary {
  font-family: 'Playfair Display', serif;
}
.typeface--italic {
  font-style: italic;
}
.typeface--small {
  font-size: 16.8px;
}
.section p {
  font-size: 16.8px;
  line-height: 25.2px;
  color: #282828;
}
@media only screen and (max-width: 969px) {
  .section p {
    font-size: 20px;
    line-height: 30px;
  }
}
.justify {
  text-align: justify;
}
/* logos and images */
.logo {
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
.logo--small {
  width: 98.7px;
  height: 105.7px;
}
.logo--header {
  background-position: center;
  height: 182.7px;
}
@media only screen and (max-width: 969px) {
  .logo--header {
    height: 160px;
  }
}
.logo--gold {
  background-image: url('../img/logo-gold--med.png');
}
.logo--white {
  background-image: url('../img/logo-white--small.png');
}
.logo--topRight {
  position: absolute;
  right: 28px;
  top: 21px;
}
@media only screen and (max-width: 969px) {
  .logo--topRight {
    display: none;
  }
}
.map {
  box-shadow: 2px 2px 0px #fafafa, -1px -1px 0px #ffffff, 2px 2px 5px rgba(177, 139, 107, 0.38);
}
/* form */
.subscribeForm {
  text-align: center;
}
.textInput {
  width: 80%;
  border: 1px solid #dcdcdc;
  line-height: 63.7px;
  font-size: 24.5px;
  text-align: center;
  font-family: 'playfair display';
  font-style: italic;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
  opacity: .96;
}
input[disabled] {
  color: #ccc;
  background-color: #fafafa;
}
/* cta buttons */
.cta {
  text-align: center;
  display: inline-block;
  opacity: .96;
  cursor: default;
  position: relative;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.41);
}
.cta--gold.cta--darker {
  background-color: #cb9458;
}
.cta--large {
  margin: 15.4px 0;
  width: 80%;
  font-size: 21.7px;
  line-height: 57.4px;
  height: 57.4px;
}
.cta--gold > .ctaMessage--1 {
  background-color: #daad7c;
  border: 1px solid #d8a950;
}
.ctaMessage {
  position: absolute;
  height: 100%;
  width: 100%;
}
.ctaMessage--2 {
  color: #f1f1f1;
  border: 1px solid #aaaaaa;
  background-color: #c3c3c3;
  box-shadow: inset 0px 0px 4px 3px rgba(255, 255, 255, 0.83);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.46), 0px 1px 0px rgba(255, 255, 255, 0.99);
}
/* misc elements */
.messageDiv {
  width: 71%;
  margin: 0 auto 14px;
  padding: 10px 21px;
  background-color: #f1f1f1;
  font-size: 16.8px;
  color: #3e6d46;
  text-align: center;
  background-color: #dae7d9;
}
.messageDiv.messageDiv--hide {
  visibility: hidden;
}
